
<div class="panel panel-default col-md-4">
  <div class="panel-body">
    <div class="nested-fields">
      <%= f.input :name %>
      <%= f.input :role %>
      <%= f.input :phone %>
      <%= link_to_remove_association 'Remove contact', f %>
    </div>
  </div>
</div>